MYSQL_HOST=<MYSQL_HOST>
MYSQL_USER=<MYSQL_USER>
MYSQL_PASSWORD=<MYSQL_PASSWORD>
MYSQL_DATABASE=<MYSQL_DATABASE>

PRINTIFY_API_KEY=<PRINTIFY_API_KEY>
PRINTIFUL_API_KEY=<PRINTIFUL_API_KEY>
SHOPIFY_API_CLIENT=<SHOPIFY_API_CLIENT>
SHOPIFY_API_SECRET=<SHOPIFY_API_SECRET>