DirectorySlash Off
RewriteEngine On

RewriteRule ^docs$ docs.html [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]

<Files .env>
order allow,deny
Deny from all
</Files>